body {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

.itallic {
    font-style: italic;
}

.container {
    border-style: solid;
    border-color: black;
}